.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock
coverage
*.lcov
.nyc_output
node_modules/
jspm_packages/
bower_components/
dist
.output
.nitro
.next
.nuxt
.svelte-kit
out
.cache
.parcel-cache
.temp
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.wrangler
.data
*.tsbuildinfo
.npm
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn-integrity
.pnp.*
# Misc
.grunt
.lock-wscript
lib-cov
web_modules/
.fusebox/
.serverless/
.dynamodb/
.tern-port
.node_repl_history
.vscode-test
webpack/
*.tgz
bun.lockb
mise.local.toml
public/build
